<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>card Hover effects</title>
    <link rel="stylesheet" href="./static/test.css">
</head>

<nav class="d-flex align-items-center justify-content-center justify-lg-between">
  <a class="navbar-brand" href="/">
    <img class="img-fluid" src="static/images/logo2.png" alt="">
  </a>
    <ul class="nav-list text-center p-0">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
   </ul>
</nav>

<body>
   <section>
    <div class="testimonial">
  <div class="card">
    <div class="layer"></div>
    <div class="content">
      <p>I am Thinh, my grandfather bought car from these guys, my dad bought car from these guys, I bought my Porche GTR3 from these guys and my sons will buy their cars from these guys!</p>
      <div class="image">
        <img  width="100px" src="./static/images/thinh.png" alt="">
      </div>
      <div class="details">
        <h2> Thinh <br> <span>The Unfeeling Cyborg</span></h2>
      </div>
    </div>
  </div>
</div>

<div class="testimonial">
  <div class="card">
    <div class="layer">

    </div>
    <div class="content">
      <p>“The Hotshots at Eagle Auto put me in a souped up ‘76 Ford Pinto and could not be happier! Amazing!”</p>
      <div class="image">
        <img  width="100px" src="./static/images/aakash.png" alt="">

      </div>
      <div class="details">
        <h2> Aakash <br> <span>The Love Butterfly</span></h2>
      </div>
    </div>
  </div>
</div>

</section>
</body>
</html>
